{% extends "shop/base.html" %}
{% load static %}
{% block title %}
Shopping cart
{% endblock %}
{% block content %}
<h1>Shopping cart</h1>
<table class="cart">
    <thead>
        <tr>
            <th>Image</th>
            <th>Product</th>
            <th>Quantity</th>
            <th>Remove</th>
            <th>Per unit price</th>
            <th>Amount</th>
        </tr>
    </thead>
    <tbody>
        {% for item in cart %}
        {% with product=item.product %}
        <tr>
            <td>
                <a href="{{ product.get_absolute_url }}">
                    <img
                        src="{% if product.image %}{{ product.image.url }}{% else %}{% static "img/no_image.png" %}{% endif %}">
                </a>
            </td>
            <td>{{ product.name }}</td>
            <td>
                <form action="{% url "cart:cart_add" product.id %}" method="post">
                    {{ item.update_quantity_form.quantity }}
                    {{ item.update_quantity_form.update }}
                    <input type="submit" value="Change">
                    {% csrf_token %}
                </form>
            </td>
            <td>
                <form action="{% url "cart:cart_remove" product.id %}" method="post">
                    <input type="submit" value="Remove">
                    {% csrf_token %}
                </form>
            </td>
            <td class="num">{{ item.price }} zł</td>
            <td class="num">{{ item.total_price }} zł</td>
        </tr>
        {% endwith %}
        {% endfor %}
        {% if cart.coupon %}
        <tr class="subtotal">
            <td>Total value</td>
            <td colspan="4"></td>
            <td class="num">{{ cart.get_total_price }} zł</td>
        </tr>
        <tr>
            <td>
                Coupon "{{ cart.coupon.code }}"
                ({{ cart.coupon.discount }}% discount)
            </td>
            <td colspan="4"></td>
            <td class="num neg">
                - {{ cart.get_discount|floatformat:"2" }} zł
            </td>
        </tr>
        {% endif %}
    </tbody>
</table>
<p>Discount Coupon:</p>
<form action="{% url "coupons:apply" %}" method="post">
    {{ coupon_apply_form }}
    <input type="submit" value="Enter">
    {% csrf_token %}
</form>
<p class="text-right">
    <a href="{% url "shop:product_list" %}" class="buttonlight">Continue shopping</a>
    <a href="{% url "orders:order_create" %}" class="button">
        Buy
    </a>
</p>
{% endblock %}